<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627596693131-b1h8ioa2c1rlnd5p0nc7e8evk7pq9pj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627596693131-b1h8ioa2c1rlnd5p0nc7e8evk7pq9pj2</string>
	<key>API_KEY</key>
	<string>AIzaSyCdSMMt3GYyHhJHxNe34pMGI8c5hj20Up0</string>
	<key>GCM_SENDER_ID</key>
	<string>627596693131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iressv4.test</string>
	<key>PROJECT_ID</key>
	<string>iress-mobile-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>iress-mobile-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627596693131:ios:4974c1b56f6853af620e8e</string>
</dict>
</plist>